:root {
  --body-font: Roboto, sans-serif;
  --header-font: Alegreya, serif;
  --text-color: #9d9d9d;
  --header-color: #828282;
  --bg-color: #263451;
  --bg-light-color: #32456b;
  --link-color: #e0c400;
  --link-color-hover: #ffea59;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --error-color: #d81717;
}

html, body {
  margin: 0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--body-font);
}

h1 {
  color: var(--header-color);
  font-family: var(--header-font);
  font-size: 48px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

form {
  margin: 60px auto 0;
}

form > p {
  margin-top: 30px;
}

form > p.input {
  margin-top: auto;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  line-height: 26px;
  text-transform: uppercase;
  display: inline-block;
  color: var(--text-color);
}

input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 4px solid var(--text-color);
  border-radius: 100%;
  background: var(--bg-color);
}

input[type="radio"] + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: var(--text-color);
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

input[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  background: var(--header-color);
  border: 0;
  border-radius: 4px;
  color: var(--bg-color);
  cursor: pointer;
}

input[type="submit"]:hover {
  background: var(--text-color);
}

.sub-form {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid var(--header-color);
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input label {
  font-size: 0.75em;
  text-transform: uppercase;
}

.input input {
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid var(--bg-color);
  padding: 10px;
}

.input .input-error {
  border: 1px solid var(--error-color);
}

.form-error {
  font-size: 0.8em;
  color: var(--error-color);
  margin-top: 6px;
}


.add-choice,
.remove-choice {
  position: absolute;
  width: 28px;
  height: 28px;
  background: var(--header-color);
  border: 0;
  border-radius: 2px;
  color: var(--bg-color);
  bottom: 9%;
  font-size: 1.2em;
  font-weight: 900;
  cursor: pointer;
  padding: 0 0 3px;
}

.add-choice {
  right: -32px;
}
.remove-choice {
  right: -64px;
}

.add-choice:hover,
.remove-choice:hover {
  background: var(--text-color);
}

.add-choice.has-error,
.remove-choice.has-error {
  bottom: 34%;
}

header{
  height: 40px;
  padding-left: 40px;
  line-height: 36px;
}

.container {
  margin: 0 auto;
  width: 600px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 4px;
}

.row:nth-child(even) {
  background: var(--bg-light-color);
}
